In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("cric.csv" ,encoding = "ISO-8859-1")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POS         100 non-null    int64
 1   PLAYER      100 non-null    object
 2   Mat         100 non-null    int64
 3   Inns        100 non-null    int64
 4   NO          100 non-null    int64
 5   Runs        100 non-null    int64
 6   HS          100 non-null    int64
 7   Avg         100 non-null    object
 8   BF          100 non-null    int64
 9   SR          100 non-null    float64
 10  HUNDREDS    100 non-null    int64
 11  FIFTY       100 non-null    int64
 12  Fours       100 non-null    int64
 13  Six         100 non-null    int64
 14  HS_not_out  100 non-null    object
dtypes: float64(1), int64(11), object(3)
memory usage: 10.6+ KB

In [4]:
df.isnull().sum()

POS           0
PLAYER        0
Mat           0
Inns          0
NO            0
Runs          0
HS            0
Avg           0
BF            0
SR            0
HUNDREDS      0
FIFTY         0
Fours         0
Six           0
HS_not_out    0
dtype: int64

In [5]:
df[df["Avg"]== "-"]

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,HUNDREDS,FIFTY,Fours,Six,HS_not_out
81,82,Harpreet_Brar,2,1,1,20,20,-,12,166.66,0,0,2,1,20*
87,88,Alzarri_Joseph,3,2,2,15,15,-,13,115.38,0,0,2,0,15*
96,97,Ishant_Sharma,13,3,3,10,10,-,3,333.33,0,0,1,1,10*
99,100,Tim_Southee,3,1,1,9,9,-,9,100.00,0,0,0,0,9*

In [6]:
df.replace('-',1,inplace=True)

In [7]:
df[df["Avg"]== "-"]

Empty DataFrame
Columns: [POS, PLAYER, Mat, Inns, NO, Runs, HS, Avg, BF, SR, HUNDREDS, FIFTY, Fours, Six, HS_not_out]
Index: []

In [8]:
df.head()

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,HUNDREDS,FIFTY,Fours,Six,HS_not_out
0,1,David_Warner,12,12,2,692,100,69.2,481,143.86,1,8,57,21,100*
1,2,KL_Rahul,14,14,3,593,100,53.9,438,135.38,1,6,49,25,100*
2,3,Quinton_de_Kock,16,16,1,529,81,35.26,398,132.91,0,4,45,25,81
3,4,Shikhar_Dhawan,16,16,1,521,97,34.73,384,135.67,0,5,64,11,97*
4,5,Andre_Russell,14,13,4,510,80,56.66,249,204.81,0,4,31,52,80*

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POS         100 non-null    int64
 1   PLAYER      100 non-null    object
 2   Mat         100 non-null    int64
 3   Inns        100 non-null    int64
 4   NO          100 non-null    int64
 5   Runs        100 non-null    int64
 6   HS          100 non-null    int64
 7   Avg         100 non-null    object
 8   BF          100 non-null    int64
 9   SR          100 non-null    float64
 10  HUNDREDS    100 non-null    int64
 11  FIFTY       100 non-null    int64
 12  Fours       100 non-null    int64
 13  Six         100 non-null    int64
 14  HS_not_out  100 non-null    object
dtypes: float64(1), int64(11), object(3)
memory usage: 10.6+ KB

In [10]:
#df["PLAYER"] = pd.Categorical(df["PLAYER"])
df_dummies = pd.get_dummies(df.PLAYER)
df_dummies.columns

Index(['AB_de_Villiers', 'Ajinkya_Rahane', 'Akshdeep_Nath', 'Alzarri_Joseph',
       'Ambati_Rayudu', 'Amit_Mishra', 'Andre_Russell', 'Axar_Patel',
       'Ben_Cutting', 'Ben_Stokes', 'Bhuvneshwar_Kumar', 'Carlos_Brathwaite',
       'Chris_Gayle', 'Chris_Lynn', 'Chris_Morris', 'Colin_Ingram',
       'Colin_Munro', 'Colin_de_Grandhomme', 'David_Miller', 'David_Warner',
       'Deepak_Hooda', 'Dinesh_Karthik', 'Dwayne_Bravo', 'Evin_Lewis',
       'Faf_du_Plessis', 'Gurkeerat_Mann_Singh', 'Hardik_Pandya',
       'Harpreet_Brar', 'Ishan_Kishan', 'Ishant_Sharma', 'Jofra_Archer',
       'Jonny_Bairstow', 'Jos_Buttler', 'KL_Rahul', 'Kagiso_Rabada',
       'Kane_Williamson', 'Kedar_Jadhav', 'Keemo_Paul', 'Kieron_Pollard',
       'Krishnappa_Gowtham', 'Krunal_Pandya', 'Kuldeep_Yadav',
       'Liam_Livingstone', 'MS_Dhoni', 'Mandeep_Singh', 'Manish_Pandey',
       'Marcus_Stoinis', 'Martin_Guptill', 'Mayank_Agarwal',
       'Mitchell_McClenaghan', 'Mitchell_Santner', 'Moeen_Ali',
       'Mohammad_Nabi', 'Murali_Vijay', 'Nicholas_Pooran', 'Nitish_Rana',
       'Parthiv_Patel', 'Pawan_Negi', 'Piyush_Chawla', 'Prayas_Ray_Barman',
       'Prithvi_Shaw', 'Quinton_de_Kock', 'Rahul_Chahar', 'Rahul_Tewatia',
       'Rahul_Tripathi', 'Rashid_Khan', 'Ravichandran_Ashwin',
       'Ravindra_Jadeja', 'Rinku_Singh', 'Rishabh_Pant', 'Riyan_Parag',
       'Robin_Uthappa', 'Rohit_Sharma', 'Sam_Curran', 'Sanju_Samson',
       'Sarfaraz_Khan', 'Shakib_Al_Hasan', 'Shane_Watson', 'Shardul_Thakur',
       'Sherfane_Rutherford', 'Shikhar_Dhawan', 'Shimron_Hetmyer',
       'Shivam_Dube', 'Shreyas_Gopal', 'Shreyas_Iyer', 'Shubman_Gill',
       'Siddhesh_Lad', 'Simran_Singh', 'Steve_Smith', 'Stuart_Binny',
       'Sunil_Narine', 'Suresh_Raina', 'Suryakumar_Yadav', 'Tim_Southee',
       'Umesh_Yadav', 'Vijay_Shankar', 'Virat_Kohli', 'Wriddhiman_Saha',
       'Yusuf_Pathan', 'Yuvraj_Singh'],
      dtype='object')

In [11]:
print(df_dummies)

    AB_de_Villiers  Ajinkya_Rahane  Akshdeep_Nath  Alzarri_Joseph  \
0                0               0              0               0
1                0               0              0               0
2                0               0              0               0
3                0               0              0               0
4                0               0              0               0
..             ...             ...            ...             ...
95               0               0              0               0
96               0               0              0               0
97               0               0              0               0
98               0               0              0               0
99               0               0              0               0

    Ambati_Rayudu  Amit_Mishra  Andre_Russell  Axar_Patel  Ben_Cutting  \
0               0            0              0           0            0
1               0            0              0           0            0
2               0            0              0           0            0
3               0            0              0           0            0
4               0            0              1           0            0
..            ...          ...            ...         ...          ...
95              0            0              0           0            0
96              0            0              0           0            0
97              0            0              0           0            0
98              0            0              0           0            0
99              0            0              0           0            0

    Ben_Stokes  ...  Sunil_Narine  Suresh_Raina  Suryakumar_Yadav  \
0            0  ...             0             0                 0
1            0  ...             0             0                 0
2            0  ...             0             0                 0
3            0  ...             0             0                 0
4            0  ...             0             0                 0
..         ...  ...           ...           ...               ...
95           0  ...             0             0                 0
96           0  ...             0             0                 0
97           0  ...             0             0                 0
98           0  ...             0             0                 0
99           0  ...             0             0                 0

    Tim_Southee  Umesh_Yadav  Vijay_Shankar  Virat_Kohli  Wriddhiman_Saha  \
0             0            0              0            0                0
1             0            0              0            0                0
2             0            0              0            0                0
3             0            0              0            0                0
4             0            0              0            0                0
..          ...          ...            ...          ...              ...
95            0            0              0            0                0
96            0            0              0            0                0
97            0            0              0            0                0
98            0            0              0            0                0
99            1            0              0            0                0

    Yusuf_Pathan  Yuvraj_Singh
0              0             0
1              0             0
2              0             0
3              0             0
4              0             0
..           ...           ...
95             0             0
96             0             0
97             0             0
98             0             0
99             0             0

[100 rows x 100 columns]

In [12]:
df_dummies.Yuvraj_Singh

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Name: Yuvraj_Singh, Length: 100, dtype: uint8

In [13]:
df.Avg = df.Avg.astype(float)

In [14]:
df["Run"] = df["Runs"]//df["Inns"]

In [15]:
df.head()

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,HUNDREDS,FIFTY,Fours,Six,HS_not_out,Run
0,1,David_Warner,12,12,2,692,100,69.20,481,143.86,1,8,57,21,100*,57
1,2,KL_Rahul,14,14,3,593,100,53.90,438,135.38,1,6,49,25,100*,42
2,3,Quinton_de_Kock,16,16,1,529,81,35.26,398,132.91,0,4,45,25,81,33
3,4,Shikhar_Dhawan,16,16,1,521,97,34.73,384,135.67,0,5,64,11,97*,32
4,5,Andre_Russell,14,13,4,510,80,56.66,249,204.81,0,4,31,52,80*,39

In [16]:
df1 = pd.concat([df,df_dummies.drop(columns =["Yuvraj_Singh"])],axis='columns')
df1.head()
df1.head()

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,...,Stuart_Binny,Sunil_Narine,Suresh_Raina,Suryakumar_Yadav,Tim_Southee,Umesh_Yadav,Vijay_Shankar,Virat_Kohli,Wriddhiman_Saha,Yusuf_Pathan
0,1,David_Warner,12,12,2,692,100,69.20,481,143.86,...,0,0,0,0,0,0,0,0,0,0
1,2,KL_Rahul,14,14,3,593,100,53.90,438,135.38,...,0,0,0,0,0,0,0,0,0,0
2,3,Quinton_de_Kock,16,16,1,529,81,35.26,398,132.91,...,0,0,0,0,0,0,0,0,0,0
3,4,Shikhar_Dhawan,16,16,1,521,97,34.73,384,135.67,...,0,0,0,0,0,0,0,0,0,0
4,5,Andre_Russell,14,13,4,510,80,56.66,249,204.81,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df2= df1.drop(columns = ["PLAYER"])

In [18]:
df2.Run

0     57
1     42
2     33
3     32
4     39
      ..
95     5
96     3
97     9
98     2
99     9
Name: Run, Length: 100, dtype: int64

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 114 entries, POS to Yusuf_Pathan
dtypes: float64(2), int64(12), object(1), uint8(99)
memory usage: 21.1+ KB

In [20]:
X = df2.drop(columns = ["Run" ,"Runs","POS", "Mat", "Inns","NO","HS","HUNDREDS","FIFTY","HS_not_out"])
X.head()

,Avg,BF,SR,Fours,Six,AB_de_Villiers,Ajinkya_Rahane,Akshdeep_Nath,Alzarri_Joseph,Ambati_Rayudu,...,Stuart_Binny,Sunil_Narine,Suresh_Raina,Suryakumar_Yadav,Tim_Southee,Umesh_Yadav,Vijay_Shankar,Virat_Kohli,Wriddhiman_Saha,Yusuf_Pathan
0,69.20,481,143.86,57,21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,53.90,438,135.38,49,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,35.26,398,132.91,45,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,34.73,384,135.67,64,11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,56.66,249,204.81,31,52,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
X.shape

(100, 104)

In [22]:
Y = df2.Run
len(Y)

100

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test=train_test_split(X,Y , test_size = 0.2 , random_state = 10)

In [25]:
X_train.shape

(80, 104)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr = LinearRegression()

In [28]:
lr.fit(X_train, y_train)

LinearRegression()

In [29]:
lr.score(X_test, y_test)

0.5312547417256255

In [30]:
lr.score(X_train, y_train)

1.0

In [31]:
data_train = pd.concat([X_train, y_train], axis=1)
data_train.head()

,Avg,BF,SR,Fours,Six,AB_de_Villiers,Ajinkya_Rahane,Akshdeep_Nath,Alzarri_Joseph,Ambati_Rayudu,...,Sunil_Narine,Suresh_Raina,Suryakumar_Yadav,Tim_Southee,Umesh_Yadav,Vijay_Shankar,Virat_Kohli,Wriddhiman_Saha,Yusuf_Pathan,Run
90,4.66,15,93.33,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
70,14.00,37,113.51,4,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
50,35.33,88,120.45,7,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
44,22.28,130,120.00,12,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
76,5.33,37,86.48,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [32]:
X_train.columns

Index(['Avg', 'BF', 'SR', 'Fours', 'Six', 'AB_de_Villiers', 'Ajinkya_Rahane',
       'Akshdeep_Nath', 'Alzarri_Joseph', 'Ambati_Rayudu',
       ...
       'Stuart_Binny', 'Sunil_Narine', 'Suresh_Raina', 'Suryakumar_Yadav',
       'Tim_Southee', 'Umesh_Yadav', 'Vijay_Shankar', 'Virat_Kohli',
       'Wriddhiman_Saha', 'Yusuf_Pathan'],
      dtype='object', length=104)

In [33]:
import statsmodels.formula.api as smf

In [34]:
lm1 = smf.ols(formula= 'Run ~ Avg+BF+SR', data = data_train).fit()
lm1.params

Intercept    1.412969
Avg          0.371850
BF           0.041344
SR           0.021146
dtype: float64

In [35]:
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    Run   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.787
Method:                 Least Squares   F-statistic:                     98.21
Date:                Sun, 02 May 2021   Prob (F-statistic):           4.47e-26
Time:                        13:18:55   Log-Likelihood:                -245.60
No. Observations:                  80   AIC:                             499.2
Df Residuals:                      76   BIC:                             508.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.4130      2.202      0.642      0.523      -2.972       5.798
Avg            0.3719      0.058      6.441      0.000       0.257       0.487
BF             0.0413      0.008      5.467      0.000       0.026       0.056
SR             0.0211      0.017      1.271      0.208      -0.012       0.054
==============================================================================
Omnibus:                        3.319   Durbin-Watson:                   2.151
Prob(Omnibus):                  0.190   Jarque-Bera (JB):                2.546
Skew:                           0.367   Prob(JB):                        0.280
Kurtosis:                       3.474   Cond. No.                         778.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [36]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

In [37]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, Y, cv=cv)

array([ 0.53388675,  0.35383267, -0.22090161,  0.46057196,  0.53597132])

In [38]:
def predict_run(PLAYER, Avg, BF, SR,Fours, Six):    
    loc_index = np.where(X.columns==PLAYER)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = Avg
    x[1] = BF
    x[2] = SR
    x[3] = Fours
    x[4] = Six
    if loc_index >= 0:
        x[loc_index] = 1
    return round (lr.predict([x])[0])

In [42]:
predict_run("KL_Rahul", 80,20,125,10,4)

63.0

In [40]:
import joblib
joblib.dump(lr, 'model.pkl')
print("Model dumped!")

# Load the model that you just saved
lr = joblib.load('model.pkl')

# Saving the data columns from training
model_columns = list(X.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")

Model dumped!
Models columns dumped!

In [43]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [44]:
import pickle
with open('ipl_individual.pickle','wb') as f:
    pickle.dump(lr,f)